@tailwind base;
@tailwind components;
@tailwind utilities;

.time-slot {
  width: 6em;
  height: 1.5em;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin: 0;
}

.time-slot-btn {
  width: 6em;
  height: 1.5em;
}

.booked {
  background-color: brown;
}

.time-label {
  width: 6em;
  height: 1.5em;
}

.calendar {
  display: flex;
  flex-direction: row;
}

.user-form-container {
  flex-flow: row wrap;
}
.user-form-item {
  justify-content: center;
}
input {
  width: 200px;
  border: solid black;
  border-width: thin;
  border-radius: 5;
  box-sizing: border-box;
}